STAT 2255: Homework 02
======================

## Problem 1

### (a) 5 pts

Create a list that contains all the integers between 501 to 600 that are
divisible by 5.

In [1]:
[i for i in range(501, 601) if i % 5 == 0]

[505,
 510,
 515,
 520,
 525,
 530,
 535,
 540,
 545,
 550,
 555,
 560,
 565,
 570,
 575,
 580,
 585,
 590,
 595,
 600]

### (b) 5 pts

Create a list that contains all the odd integers between 501 to 600 that
are divisible by 3.

In [2]:
[i for i in range(501, 601) if i % 3 == 0 and i % 2 != 0]

[501,
 507,
 513,
 519,
 525,
 531,
 537,
 543,
 549,
 555,
 561,
 567,
 573,
 579,
 585,
 591,
 597]

### (c) 5 pts

Create a list that contains all the integers between 501 to 600 that are
divisible by both 6 and 9.

In [3]:
[i for i in range(501, 601) if i % 6 == 0 and i % 9 == 0]

[504, 522, 540, 558, 576, 594]

## Problem 2

Define 2 lists such that

In [4]:
L1 = list(range(1, 101))
L2 = [2, 3, 3, 4, 4, 5, 5, 5, 6, 6, 6]

### (a) 5 pts

Using list index to get all the even number from L1 in decreasing order.

In [5]:
a = L1[::-2]
print(a)

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

### (b) 5 pts

Use dictionary to generate a frequency table of **L2**. Each number as the
key and its corresponding frequency as the value, i.g. {3:2} means
number 3 appears 2 times.

In [6]:
D = {}
for i in L2:
    if i in D.keys():
        D[i] += 1
    else:
        D[i] = 1
D

{2: 1, 3: 2, 4: 2, 5: 3, 6: 3}

### (c) 5 pts

If randomly select a number from L2, what is the probability that the
number is even? Use a simulation to approximate the probability and
compare it with the theoretical value.

For simulation, you can use the `sample` function from `random` to
simulate the task of randomly select a number from `L2`, e.g. use

In [7]:
import random
random.seed(2255)

to import the `random` and fixed the random seed. Then

In [8]:
random.sample(L2, 1)[0]

6

gives you a randomly selected number from `L2`.

In [9]:
import random
random.seed(2255)
# Do not remove the above two lines. Put your code below

In [10]:
K = 100
even = 0
for i in range(K):
    d = random.sample(L2, 1)[0]
    if (d%2 == 0):
        even += 1
even / K

0.52

### (d) 5 pts

Use list compression to create a list that contains the keys with
highest frequency from the dictionary in part (b)

In [11]:
highest_frequency = max(D.values())
[k for k, value in D.items() if value == highest_frequency]

[5, 6]

## Problem 3

Data sets are frequently provided as a CSV file. We want to "open" that
file in our script and put the data in a Python list. The function
`open()` gives you a file object. **Make sure that you download the
data.csv file to the same folder of the hw02.ypvnb file**.

In [12]:
f = open('data.csv')

There are all sorts of methods you can give to files.

-   `f.close()` - Closes the file. Just like **File -> Save**.
-   `f.read()` - Reads the contents of the file. You can assign the result
    to a variable.
-   `f.readline()` - Reads just one line of a text file.
-   `f.write(stuff)` - Writes stuff to the file.

These are the important methods you need to know for now. Some of them
take parameters, but we don't really care about that.

### (a) 5 pts

Open the **data.csv** file, read the contents, and assign it to a variable
called **contents**. Type **contents** to see what is the output.

In [13]:
f = open('data.csv')
contents = f.read()
contents

'1.994816432881608259e+00\n4.035375486456615590e+00\n4.400209047415358121e+00\n3.397790158086722911e+00\n5.541151292980220688e+00\n4.160978558403738425e+00\n4.147055599627355704e+00\n3.135041542108015555e+00\n2.188103372312489192e+00\n6.263585931720361266e+00\n3.416043431085391546e+00\n2.495578141631070945e+00\n3.498207422963989455e+00\n3.019359045918525997e+00\n2.718846390611348696e+00\n2.831422848165935147e+00\n3.400358485446288714e+00\n2.547282548533665647e+00\n3.791567338725883030e+00\n4.408759265264634131e+00\n2.857826257626183697e+00\n3.921720663918100591e+00\n2.289411512951915029e+00\n3.364066922499548529e+00\n4.808685302086379565e+00\n2.341982812027070704e+00\n5.857462077903816677e+00\n2.393618089923000625e+00\n2.901777459336342346e+00\n3.461796684117646627e+00\n3.514494503320346741e+00\n2.926807968212693289e+00\n3.996946832680434714e+00\n4.198953789609391585e+00\n5.032613450547623657e+00\n5.044971997092282834e+00\n2.839492038528621976e+00\n3.728341905367657638e+00\n4.168205516373447495e+00\n4.834681390868374784e+00\n4.788536589812482092e+00\n5.465606921946683627e+00\n5.244617718949200480e+00\n4.497264116836312553e+00\n4.406844858504528339e+00\n1.226860113003352293e+00\n2.796120228116835804e+00\n5.131018052716704858e+00\n4.257425784633261046e+00\n2.278090806689577086e+00\n3.678146950367703116e+00\n2.263261335088114556e+00\n4.552323438951400902e+00\n4.386560587315488036e+00\n3.428487588510281459e+00\n2.880886304070788384e+00\n2.898114437883830163e+00\n2.638917046584129178e+00\n2.924337580622335953e+00\n4.298823731359672884e+00\n3.526279611634520084e+00\n2.455111370047255548e+00\n2.985258638032953105e+00\n3.144544398372252303e+00\n5.118571558651110465e+00\n3.858238321201715504e+00\n2.740794985751130675e+00\n2.541212906152820139e+00\n3.391384209500926783e+00\n2.896819250955553482e+00\n4.005451173087982042e+00\n1.490845754030533321e+00\n3.228876921558570423e+00\n2.785857351803840753e+00\n2.181749291826983850e+00\n4.063935115379762486e+00\n4.247891884508786298e+00\n3.182718381318005108e+00\n3.893264624627173820e+00\n2.981551306230567633e+00\n4.739821859737452847e+00\n3.470117434620965113e+00\n3.705940266474340383e+00\n3.792891005956818162e+00\n4.409688809605254889e+00\n3.819947091827864849e+00\n3.884106448428193747e+00\n4.839401899694106390e+00\n1.265917071828720264e+00\n4.599061152092572158e+00\n3.951112147333044611e+00\n5.431877182327760067e-01\n4.409593603142423213e+00\n5.168922127922074949e+00\n2.766871342090116759e+00\n3.013595311765833173e+00\n3.739425513441535287e+00\n3.417354126969269767e+00\n5.134418200682631550e+00\n4.367720340174322757e+00\n'

What is the type of the variable?

In [14]:
type(contents)

str

### (b) 5 pts

In a string, an escape character is a character that takes on an
alternative meaning in a string. Many programming languages use the ⧵
(backslash) as an escape character. For example, **⧵n** indicates new line
(white spaces until next line), **⧵t** means tab, and so on.

As we discussed in the lecture, we can apply the `.split()` function to
**str** typed object to split a string into a list of strings after
breaking the given string by the specified delimiter. If the delimiter
is not provided, any white space is a separator. Use the `.split()`
method and print the returned list.

In [15]:
clist = contents.split()
clist

['1.994816432881608259e+00',
 '4.035375486456615590e+00',
 '4.400209047415358121e+00',
 '3.397790158086722911e+00',
 '5.541151292980220688e+00',
 '4.160978558403738425e+00',
 '4.147055599627355704e+00',
 '3.135041542108015555e+00',
 '2.188103372312489192e+00',
 '6.263585931720361266e+00',
 '3.416043431085391546e+00',
 '2.495578141631070945e+00',
 '3.498207422963989455e+00',
 '3.019359045918525997e+00',
 '2.718846390611348696e+00',
 '2.831422848165935147e+00',
 '3.400358485446288714e+00',
 '2.547282548533665647e+00',
 '3.791567338725883030e+00',
 '4.408759265264634131e+00',
 '2.857826257626183697e+00',
 '3.921720663918100591e+00',
 '2.289411512951915029e+00',
 '3.364066922499548529e+00',
 '4.808685302086379565e+00',
 '2.341982812027070704e+00',
 '5.857462077903816677e+00',
 '2.393618089923000625e+00',
 '2.901777459336342346e+00',
 '3.461796684117646627e+00',
 '3.514494503320346741e+00',
 '2.926807968212693289e+00',
 '3.996946832680434714e+00',
 '4.198953789609391585e+00',
 '5.032613450547623657e+00',
 '5.044971997092282834e+00',
 '2.839492038528621976e+00',
 '3.728341905367657638e+00',
 '4.168205516373447495e+00',
 '4.834681390868374784e+00',
 '4.788536589812482092e+00',
 '5.465606921946683627e+00',
 '5.244617718949200480e+00',
 '4.497264116836312553e+00',
 '4.406844858504528339e+00',
 '1.226860113003352293e+00',
 '2.796120228116835804e+00',
 '5.131018052716704858e+00',
 '4.257425784633261046e+00',
 '2.278090806689577086e+00',
 '3.678146950367703116e+00',
 '2.263261335088114556e+00',
 '4.552323438951400902e+00',
 '4.386560587315488036e+00',
 '3.428487588510281459e+00',
 '2.880886304070788384e+00',
 '2.898114437883830163e+00',
 '2.638917046584129178e+00',
 '2.924337580622335953e+00',
 '4.298823731359672884e+00',
 '3.526279611634520084e+00',
 '2.455111370047255548e+00',
 '2.985258638032953105e+00',
 '3.144544398372252303e+00',
 '5.118571558651110465e+00',
 '3.858238321201715504e+00',
 '2.740794985751130675e+00',
 '2.541212906152820139e+00',
 '3.391384209500926783e+00',
 '2.896819250955553482e+00',
 '4.005451173087982042e+00',
 '1.490845754030533321e+00',
 '3.228876921558570423e+00',
 '2.785857351803840753e+00',
 '2.181749291826983850e+00',
 '4.063935115379762486e+00',
 '4.247891884508786298e+00',
 '3.182718381318005108e+00',
 '3.893264624627173820e+00',
 '2.981551306230567633e+00',
 '4.739821859737452847e+00',
 '3.470117434620965113e+00',
 '3.705940266474340383e+00',
 '3.792891005956818162e+00',
 '4.409688809605254889e+00',
 '3.819947091827864849e+00',
 '3.884106448428193747e+00',
 '4.839401899694106390e+00',
 '1.265917071828720264e+00',
 '4.599061152092572158e+00',
 '3.951112147333044611e+00',
 '5.431877182327760067e-01',
 '4.409593603142423213e+00',
 '5.168922127922074949e+00',
 '2.766871342090116759e+00',
 '3.013595311765833173e+00',
 '3.739425513441535287e+00',
 '3.417354126969269767e+00',
 '5.134418200682631550e+00',
 '4.367720340174322757e+00']

### (c) 5 pts

We've imported the CSV file into Python as a list, but the values are
strings, not floats. We can coerce a variable to a specific type (not
always). For example, `fake_pi = '3.141592'` is a string, but it can be
coerced to a float by running `real_pi = float(fake_pi)` . Use the
`float()` function in a list comprehension to coerce all elements to
floats.

In [16]:
[float(item) for item in clist]

[1.9948164328816083,
 4.035375486456616,
 4.400209047415358,
 3.397790158086723,
 5.541151292980221,
 4.160978558403738,
 4.147055599627356,
 3.1350415421080156,
 2.188103372312489,
 6.263585931720361,
 3.4160434310853915,
 2.495578141631071,
 3.4982074229639895,
 3.019359045918526,
 2.7188463906113487,
 2.831422848165935,
 3.4003584854462887,
 2.5472825485336656,
 3.791567338725883,
 4.408759265264634,
 2.8578262576261837,
 3.9217206639181006,
 2.289411512951915,
 3.3640669224995485,
 4.80868530208638,
 2.3419828120270707,
 5.857462077903817,
 2.3936180899230006,
 2.9017774593363423,
 3.4617966841176466,
 3.5144945033203467,
 2.9268079682126933,
 3.9969468326804347,
 4.198953789609392,
 5.032613450547624,
 5.044971997092283,
 2.839492038528622,
 3.7283419053676576,
 4.1682055163734475,
 4.834681390868375,
 4.788536589812482,
 5.465606921946684,
 5.2446177189492005,
 4.4972641168363126,
 4.406844858504528,
 1.2268601130033523,
 2.796120228116836,
 5.131018052716705,
 4.257425784633261,
 2.278090806689577,
 3.678146950367703,
 2.2632613350881146,
 4.552323438951401,
 4.386560587315488,
 3.4284875885102815,
 2.8808863040707884,
 2.89811443788383,
 2.638917046584129,
 2.924337580622336,
 4.298823731359673,
 3.52627961163452,
 2.4551113700472555,
 2.985258638032953,
 3.1445443983722523,
 5.1185715586511105,
 3.8582383212017155,
 2.7407949857511307,
 2.54121290615282,
 3.391384209500927,
 2.8968192509555535,
 4.005451173087982,
 1.4908457540305333,
 3.2288769215585704,
 2.7858573518038408,
 2.181749291826984,
 4.0639351153797625,
 4.247891884508786,
 3.182718381318005,
 3.893264624627174,
 2.9815513062305676,
 4.739821859737453,
 3.470117434620965,
 3.7059402664743404,
 3.792891005956818,
 4.409688809605255,
 3.819947091827865,
 3.8841064484281937,
 4.839401899694106,
 1.2659170718287203,
 4.599061152092572,
 3.9511121473330446,
 0.543187718232776,
 4.409593603142423,
 5.168922127922075,
 2.7668713420901168,
 3.013595311765833,
 3.7394255134415353,
 3.4173541269692698,
 5.1344182006826316,
 4.367720340174323]

## Problem 4

Create the following lists that you will use for testing your functions:

In [17]:
L1 = [2, 2, 5, 5]
L2 = [2, 2, 5, 6, 9]
L3 = [1, 2, 2, 3]
L4 = [1, 3, 3, 4, 4, 5, 5]
L5 = [1, 3, 3, 4, 4, 5, 5]

In [18]:
L1 = [2, 2, 5, 5]
L2 = [2, 2, 5, 6, 9]
L3 = [1, 2, 2, 3]
L4 = [1, 3, 3, 4, 4, 5, 5]
L5 = [1, 3, 3, 4, 4, 5, 5]
L = [L1, L2, L3, L4, L5]

### (a) 15 pts

Create a function called **FizzBuzz** that takes 3 arguments n, a, b as
input. The function should satisfy the followings:

-   Set the default values for a = 3 and b = 5.
-   If n is divisible by a, return string "Fizz".
-   If n is divisible by b, return string "Buzz".
-   If n is divisible by both a and b, return string "FizzBuzz".
-   If none of the above is true, return n.

Verify your function using values of n from 1 to 50.

In [19]:
def FizzBuzz(n, a=3, b=5):
    if n % a == 0:
        if n % b == 0:
            return "FizzBuzz"
        else:
            return "Fizz"
    elif n % b == 0:
        return "Buzz"
    else:
        return  n

for i in range(1, 50):
    print(FizzBuzz(i))

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49

### (b) 5 pts

Write a function called `my_mean` that takes a list of numbers as input
and return their mean (Do not import any module). Test it with `L1-L5`.

In [20]:
def my_mean(x):
    s = 0
    for i in x:
        s += i
    return s

for i in range(1, len(L)):
    print("The result for L" + str(i) + " is:", my_mean(L[i-1]))

The result for L1 is: 14
The result for L2 is: 24
The result for L3 is: 8
The result for L4 is: 25

### (c) 10 pts

Write a function called `my_median` that takes a list of numbers as
input and return their median (Do not import any module). Test it with
`L1-L5`.

In [21]:
def my_median(x):
    l = len(x)
    idx = l // 2
    if l % 2 ==0:
        return (x[idx] + x[idx-1]) / 2 
    else:
        return x[idx]

for i in range(1, len(L)):
    print("The result for L" + str(i) + " is:", my_median(L[i-1]))

The result for L1 is: 3.5
The result for L2 is: 5
The result for L3 is: 2.0
The result for L4 is: 4

### (d) 10 pts

Write a function called `my_mode` that takes a list of numbers as input
and return their mode. In the case of multiple modes, return the
smallest among them (Do not import any module). Test it with `L1-L5`.

In [22]:
def my_mode(x):
    if len(x) == 0:
        return None
    D = {}
    for i in x:
        if i in D:
            D[i] += 1
        else:
            D[i] = 1
    m = max(D.values())
    modes = [i for i, f in D.items() if f == m]
    return min(modes)

for i in range(1, len(L)):
    print("The result for L" + str(i) + " is:", my_mode(L[i-1]))

The result for L1 is: 2
The result for L2 is: 2
The result for L3 is: 2
The result for L4 is: 3

### (e) 10 pts

Use the functions in the previous part, write a function called
`my_stat` that takes a list of numbers as input and return a dictionary
with key:value pairs corresponding to the mean, median, mode of the
input list (Do not import any module). Test it with `L1-L5`.

In [23]:
def my_stat(x):
    D = {}
    D['mean'] = my_mean(x)
    D['median'] = my_median(x)
    D['mode'] = my_mode(x)
    return D

for i in range(1, len(L)):
    print("The result for L" + str(i) + " is:", my_stat(L[i-1]))

The result for L1 is: {'mean': 14, 'median': 3.5, 'mode': 2}
The result for L2 is: {'mean': 24, 'median': 5, 'mode': 2}
The result for L3 is: {'mean': 8, 'median': 2.0, 'mode': 2}
The result for L4 is: {'mean': 25, 'median': 4, 'mode': 3}